<footer class="container-fluid footer">
  <div class="container-fluid mt-3">
    <div class="row gap-5">
      <div class="col-lg-4 mb-5 footer-header">
        <img src="/img/ZEN logo.png" class="img-fluid" alt="zenwealth logo" style="width: 160px; height: 80px;">
        <p class="" style="color: #f9ede7; font-size: 17px;">
          your go-to place for affiliate success! Step into a world where every little task means big rewards. Join us at Zenwealth and start earning today!
        </p>
        <div class="footer-socials mt-5">
          <div class="footer-socials-each-div"><i class="fa-brands fa-facebook-f" style="color: #211f4e; font-size: 18px;"></i></div>
          <div class="footer-socials-each-div"><i class="fa-brands fa-twitter" style="color: #211f4e; font-size: 18px;"></i></div>
          <div class="footer-socials-each-div"><i class="fa-brands fa-instagram" style="color: #211f4e; font-size: 18px;"></i></div>
          <div class="footer-socials-each-div"><i class="fa-brands fa-linkedin-in" style="color: #211f4e; font-size: 18px;"></i></div>
        </div>
      </div>
      <div class="d-flex gap-5 col-lg-7 footer-links">
        <div class="col-lg-3 mt-4">
          <a href="/coupon-code/purchase" class="d-flex arrow-link"><p class="arrow">&#8594</p><p>Buy Coupon</p></a>
          <a href="/coupon-code/verify" class="d-flex arrow-link"><p class="arrow">&#8594</p><p>Verify Coupon</p></a>
          <a href="#" class="d-flex arrow-link"><p class="arrow">&#8594</p><p>Shop</p></a>
        </div>
        <div class="mt-4">
          <a href="/top-earners" class="d-flex arrow-link"><p class="arrow">&#8594</p><p>Top Earners</p></a>
          <a href="/about" class="d-flex arrow-link"><p class="arrow">&#8594</p><p>About</p></a>
          <a href="#" class="d-flex arrow-link"><p class="arrow">&#8594</p><p>Posts</p></a>
          <a href="/policy" class="d-flex arrow-link"><p class="arrow">&#8594</p><p>Policy</p></a>
        </div>
      </div>
      </div>
  </div> 
</footer>