<nav class="navbar navbar-expand-lg py-2 sticky-top w-100 bg-one" id="mynav">
  <div class="container d-flex">
    <a href="/">
    <img src="/img/Zenwealth Logo Alone-02.png" class="img-fluid" width="35px" alt="zenwealth logo">
    </a>
    <button class="navbar-toggler" id="toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <label class="hamburger" id="hamburger">
        <input type="checkbox">
        <svg viewBox="0 0 32 32">
          <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
          <path class="line" d="M7 16 27 16"></path>
        </svg>
      </label>
    </button>

    <div class="collapse navbar-collapse text-center justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item mb-2 active">
          <a class="nav-link fw-semibold fs-5" href="/">Home</a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link fw-semibold fs-5" href="/coupon-code/purchase">Buy Coupon</a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link fw-semibold fs-5" href="/coupon-code/verify">Verify Coupon</a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link fw-semibold fs-5" href="/top-earners">Top Earners</a>
        </li>
        <li class="nav-item sm">
          <a class="nav-link fw-semibold fs-5" href="#">Marketplace</a>
        </li>
        <li class="nav-item mb-2">
          <a class="nav-link fw-semibold fs-5" href="/task">Posts</a>
        </li>
        <li class="nav-item sm">
          <a class="nav-link fw-semibold fs-5" href="/user/login">Login</a>
        </li>
        <li class="nav-item sm">
          <a class="nav-link fw-semibold fs-5" href="/user/register">Signup</a>
        </li>
      </ul>
    </div>
    <a href="/user/login" class="login-link"><button class="btn btn-zen px-5 py-2 text-white fw-bold" type="submit">Login</button></a>
  </div>
</nav>