<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zenwealth - update bank details</title>
    <link rel="shortcut icon" type="image/png" href="/img/Zenwealth Logo Alone-02.png">
    <link rel="stylesheet" href="/css/newstyles.css">
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/iziToast-master/dist/css/iziToast.min.css">
    <script src="https://kit.fontawesome.com/a207e207d8.js" crossorigin="anonymous"></script>

    <style>
        body{
            background-image: url(/img/aesthetics8.avif) !important;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
        }
    </style>
    
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5149215667049868"
     crossorigin="anonymous"></script>
</head>

<br><br><br><br><br><br><br><br><br><br>
<body class="bg-one d-flex justify-content-center align-items-center">
        <h2 class="text-white mt-5"><%= message %></h2>
    </body>
    </html>