<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content='width=device-width, initial-scale=1.0'>
    <title>Zenwealth - buy coupon codes</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/a207e207d8.js" crossorigin="anonymous"></script>
</head>
<body>

    <%- include('partials/nav') %>
      <!-- navbar ends -->

    <div class="container-fluid hero-section bg-one" id="up">
      <div class="hero-section-blur pb-5">
        
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-lg-5 mt-5 mb-5">
              <h1 class="fw-bold display-5 color-four mt-3">Buy <span class="color-three">Zenwealth</span> Coupon Codes</h1><br>
              <p class="fw-semibold fs-5 color-four" style="font-size: 17px;">Buy Coupon Codes From Any Of Our Listed Vendors For Fast Registration</p>
              <br>  
            </div>
            <div class="col-lg-5 mt-1">
              <div class="circle bg-four mt-5 d-flex align-items-center justify-content-center overflow-hidden">
                <img src="/img/mockup 16.png" alt="" style="transform: scale(0.9 ); margin-top: 60px;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- hero-section ends -->    

    <div class="container-fluid bg-four pt-5 pb-5">
      <div class="container">
        <div class="row g-1 gap-3 align-items-center justify-content-center">
          <span class="bg-light radius-three px-1 py-4 gap-4 mt-1 vendor">
              <img src="/img/dax.jpeg" alt="vendor image" style="border-radius: 50%; width: 50px; height: 50px;">
              <h4 class=" fw-bold">LightZap</h4>
              <i class="fa-brands fa-square-whatsapp color-three fs-1"></i>          
          </span>
          <span class="bg-light radius-three px-1 py-4 gap-3 mt-1 vendor">
              <img src="/img/dax.jpeg" alt="vendor image" style="border-radius: 50%; width: 50px; height: 50px;">
              <h4 class=" fw-bold">AmbassadorOne</h4>
              <i class="fa-brands fa-square-whatsapp color-three fs-1"></i>
          </span>
          <span class="bg-light radius-three px-1 py-4 gap-4 mt-1 vendor">
              <img src="/img/dax.jpeg" alt="vendor image" style="border-radius: 50%; width: 50px; height: 50px;">
              <h4 class=" fw-bold">Diba-concept</h4>
              <i class="fa-brands fa-square-whatsapp color-three fs-1"></i>          
          </span>
          <span class="bg-light radius-three px-1 py-4 gap-4 mt-1 vendor">
            <img src="/img/dax.jpeg" alt="vendor image" style="border-radius: 50%; width: 50px; height: 50px;">
            <h4 class=" fw-bold">DavinciTv</h4>
            <i class="fa-brands fa-square-whatsapp color-three fs-1"></i>          
          </span>
        </div>
      </div>
    </div>

    <%- include('partials/footer') %>

    <script src="bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="script.js"></script>
</body>
</html>