<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zenwealth - login</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/iziToast-master/dist/css/iziToast.min.css">
    <script src="https://kit.fontawesome.com/a207e207d8.js" crossorigin="anonymous"></script>
</head>
<body class="">

  <div class="page-wrapper" style="height: 100vh;">
    <!-- Main content -->
    <div class="container h-100 d-flex justify-content-center">
      <div class="fixed-width h-100 position-relative">
        <h1 class="color-three mt-5 fw-bold display-5">Sign In</h1>
          <div class="bg-white radius-three text-center p-4 py-4">

            <img src="/img/Zenwealth Logo Alone-02.png" class="img-fluid" width="40px"><br><br>

            <form action="/login" method="post">
                <div class="row g-3">

                  <div class="input-group flex-nowrap">
                    <span class="input-group-text px-3"><ion-icon name="person"></ion-icon></span>
                    <input type="text" class="form-control py-3" name="username" placeholder="Username">
                  </div>

                  <div class="input-group flex-nowrap">
                    <span class="input-group-text px-3"><ion-icon name="lock-closed"></ion-icon></span>
                    <input type="password" name="password" class="form-control py-3" placeholder="Password">
                  </div>
                  
                  <div class="col-md-12 mt-4">
                      <button class="btn btn-zen px-4 py-2 w-100 text-white" style="border: none;">Login</button>
                  </div>
                  
                </div>
            </form>
          </div>
          <div class="position-absolute w-100 text-center" style="bottom: 15px;">
            <p class="text-white">Don't have an account? <a href="/user/register" class="color-three">Sign Up</a></p>
          </div>
      </div>
    </div>
  </div>

  <span class="d-none" id="alertTitle"><%= locals.alertTitle %></span>
  <span class="d-none" id="alertMessage"><%= locals.alertMessage %></span>
  <span class="d-none" id="alertColor"><%= locals.alertColor %></span>


  <script>
    var alertTitle = document.getElementById("alertTitle");
    var alertMessage = document.getElementById("alertMessage");
    var alertColor = document.getElementById("alertColor");

    // Check if there is a response message
    document.addEventListener('DOMContentLoaded', ()=>{
      if (alertTitle.innerHTML || alertMessage.innerHTML || alertColor.innerHTML) {
        // alert('h')
        izitoastAlert(alertTitle.innerHTML, alertMessage.innerHTML, 'light', alertColor.innerHTML);
      } else {
        return;
      }
    })

   </script>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="/iziToast-master/dist/js/iziToast.min.js"></script>
    <script src="/js/alert.js"></script>
</body>
</html>