<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zenwealth - p2p registration</title>
    <link rel="shortcut icon" type="image/png" href="/img/Zenwealth Logo Alone-02.png">
    <link rel="stylesheet" href="/css/newstyles.css">
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/a207e207d8.js" crossorigin="anonymous"></script>
</head>
<body class="bg-one">

    <!-- Sidebar -->
    <div class="d-flex justify-content-center bg-one" id="mySidebar">
      <div class="sidenav-wrapper p-3">
        <span class="text-center">
          <h3 class="fw-bolder text-white mt-1">Zenwealth</h3>
          <p class="color-three motto text-center mb-5">...the zenith of wealth</p>
        </span>
        <ul class="sidenav-nav ps-0 h-100">
            <li class="unactive-item">
                <a href="/user/dashboard"><ion-icon name="home"></ion-icon><span>Dashboard</span></a>
            </li>
            <li class="unactive-item">
                <a href="/history/withdrawals"><ion-icon name="card-outline"></ion-icon><span>Withdrawals</span>
                </a>
            </li>
            <li class="unactive-item">
              <a href="/history/earnings"><ion-icon name="albums-outline"></ion-icon></ion-icon><span>Earning History</span>
              </a>
          </li>
            <li class="unactive-item">
                <a href="/product/upload"><ion-icon name="cart-outline"></ion-icon><span>Upload Product</span></a>
            </li>
            <li class="unactive-item">
                <a href="#"><ion-icon name="pricetags-outline"></ion-icon><span>Purchased Courses</span></a>
            </li>
            <li class="active-item">
                <a href="/registration/p2p"><ion-icon name="person-add-outline"></ion-icon><span>P2P Registration</span></a>
            </li>
            <li class="unactive-item">
                <a href="/history/vtu"><ion-icon name="phone-portrait-outline"></ion-icon><span>VTU Purchase History</span>
                </a>
            </li>
            <li class="unactive-item">
                <a href="/downlines"><ion-icon name="people-outline"></ion-icon><span>Downlines</span></a>
            </li>
            <li class="unactive-item">
              <a href="/vendor/dashboard"><ion-icon name="people-outline"></ion-icon><span>Vendor Dashboard</span></a>
            </li>
            <li class="logout unactive-item">
                <a href="/user/logout"><ion-icon name="log-out-outline"></ion-icon><span>Logout</span></a>
            </li>
        </ul>
      </div>
    </div>
    <!-- Sidebar ends -->

    
    
    <!-- <div class="offcanvas-bg color-one"> -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-cover "></div>
      <div class="offcanvas-header d-flex bg-">
        <div class="w-100 text-center" style=" z-index: 5;">
          <img src="/img/ZEN logo.png" class="img-fluid" style="width: 90%; height: 80px;">
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body d-flex justify-content-center">
        <div class="sidenav-wrapper p-4">
          <ul class="mobile-sidenav-nav px-5 h-100">
              <li class="unactive-item">
                  <a href="/user/dashboard"><ion-icon name="home"></ion-icon><span>Dashboard</span></a>
              </li>
              <li class="unactive-item">
                  <a href="/history/withdrawals"><ion-icon name="card-outline"></ion-icon><span>Withdrawals</span>
                  </a>
              </li>
              <li class="unactive-item">
                <a href="/history/earnings"><ion-icon name="albums-outline"></ion-icon></ion-icon><span>Earning History</span>
                </a>
            </li>
              <li class="unactive-item">
                  <a href="/product/upload"><ion-icon name="cart-outline"></ion-icon><span>Upload Product</span></a>
              </li>
              <li class="unactive-item">
                  <a href="#"><ion-icon name="pricetags-outline"></ion-icon><span>Purchased Courses</span></a>
              </li>
              <li class="active-item">
                  <a href="/registration/p2p"><ion-icon name="person-add-outline"></ion-icon><span>P2P Registration</span></a>
              </li>
              <li class="unactive-item">
                  <a href="/history/vtu"><ion-icon name="phone-portrait-outline"></ion-icon><span>VTU Purchase History</span>
                  </a>
              </li>
              <li class="unactive-item">
                  <a href="/downlines"><ion-icon name="people-outline"></ion-icon><span>Downlines</span></a>
              </li>
              <li class="unactive-item">
                <a href="/vendor/dashboard"><ion-icon name="people-outline"></ion-icon><span>Vendor Dashboard</span></a>
              </li>
              <li class="logout unactive-item">
                  <a href="/user/logout"><ion-icon name="log-out-outline"></ion-icon><span>Logout</span></a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- </div> -->


    <!-- Main content -->
    <div id="main" class="bottom-space" style="overflow-y: scroll;">
      <!-- <div class="trydiv2"></div> -->

      <!-- Navbar Start -->
      <%- include('./partials/dashboard-nav') %>
      <!-- Navbar End -->

      <div class="ms-4 greeting-mobile">
        <h4 class="fw-bold text-white">Hello, <%= user.username %></h4>
      </div>


      <div class="container-fluid d-flex align-items-center justify-content-center content mb-5">
        <div class="bg-overlay fixed-width radius-three p-4 pb-5 mt-4">
          <h6 class="text-white mt-2 mb-3">P2P Registration</h6>
            <form action="#" method="post">
                <div class="row g-3">
  
                  <div class="col-md-6">
                    <div class="form-floating">
                      <input type="text" class="form-control bg-two-faint" name="username" placeholder="Name" autocomplete="off">
                      <label>First Name</label>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-floating">
                      <input type="text" class="form-control" name="username" placeholder="Name" autocomplete="off">
                      <label>Last Name</label>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-floating">
                      <input type="text" class="form-control" name="username" placeholder="username" autocomplete="off">
                      <label>Username</label>
                    </div>
                  </div>
                  
                  <div class="col-md-6">
                    <div class="form-floating">
                      <input type="text" class="form-control" name="username" placeholder="phone" autocomplete="off">
                      <label>Phone Number</label>
                    </div>
                  </div>
  
                  <div class="col-md-12">
                    <div class="form-floating">
                      <input type="email" class="form-control" name="email" placeholder="Email Address" autocomplete="off">
                      <label>Email</label>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="form-floating">
                      <select class="form-control" id="membership" name="membership">
                        <option value="small" selected="">Pay: 15,000ZP </option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-floating">
                      <input type="text" class="form-control" name="location" placeholder="password" autocomplete="off">
                      <label>Password</label>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-floating">
                      <input type="text" class="form-control" name="username" placeholder="confirm" autocomplete="off">
                      <label>Confirm Password</label>
                    </div>
                  </div>
  
                  <div class="col-md-12 mt-4">
                    <button class="btn btn-zen px-4 py-2 w-100 text-white" type="submit">Update Now</button>
                  </div>

                </div>
            </form>
        </div>
      </div>


      
      <!-- Beginning of footer -->
      <%- include('./partials/dashboard-footer') %>
       <!-- End of footer -->
    </div>


    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/1.1.0/progressbar.min.js"></script>
    <script>
      var mainDiv = document.getElementById("main");
      var sideBar = document.getElementById("mySidebar");
      var menuIcon = document.getElementById("hamburger");
      var mobileSideBar = document.getElementById("myMobileSidebar");
      const checkbox = document.querySelector('.hamburger input');


      function togglenav() {
        if (mainDiv.style.marginLeft === "0%"){
          mainDiv.style.marginLeft = "19.2%";
          mainDiv.style.borderTopLeftRadius = "25px";
          mainDiv.style.borderBottomLeftRadius = "25px";
          sideBar.style.width = "19.2%";
        } else {
          mainDiv.style.marginLeft = "0%";
          sideBar.style.width = "0%";
          mainDiv.style.borderRadius = "0";
        }
      }

      checkbox.addEventListener('change', function() {
        if (this.checked) {
          mobileSideBar.style.width = '60%';
          menuIcon.style.marginLeft = '60%';
        } else {
          mobileSideBar.style.width = '0%';
          menuIcon.style.marginLeft = '0%';
        }
      });


    </script>
    <script src="/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>