<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content='width=device-width, initial-scale=1.0'>
    <title>Zenwealth - policy</title>
    <link rel="shortcut icon" type="image/png" href="/img/Zenwealth Logo Alone-02.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/a207e207d8.js" crossorigin="anonymous"></script>
</head>
<body>

  <div class="page-wrapper">
    <%- include('./partials/nav') %>
    <!-- navbar ends -->

    <div class="container-fluid hero-section" id="up">
      <div class="">
        <div class="mt-5">
          <div class="row align-items-center justify-content-between">
            <div class="col-lg-9 p-0">
              <div class="container headline">
                <div class="py-3 ps-5">
                  <p class="fw-bold fs-2 color-four mt-3">Our</p>
                  <h1 class="color-three fw-bold display-1" style="margin-top: -25px;">Privacy Policy</h1><br>
                  <p class="fs-6 bg-white px-3 py-1 color-one radius-two" style="width: fit-content; font-weight: 500; font-size: 16px !important;">Read up on our privacy policy here</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- hero-section ends -->  

    <div class="container-fluid mtop">
      <div class="">
        <h1 class="text-center fw-bold color-three mt-3 mb-5">Privacy Policy for Zenwealth Affiliate platform</h1>
        <div class="bg-white radius-three p-3">
          <p class="color-one" style="line-height: 25px;">
            <strong>Code Registration:</strong><br>
            By registering for the Zenwealth, you have agreed to provide accurate and up-to-date information during the code registration process. You are responsible for maintaining the confidentiality of your affiliate code and shall not share it with unauthorized individuals.
          </p><br>
          <p class="color-one" style="line-height: 25px;">
              <strong>Full Name /Username:</strong><br>
              You have agreed to provide your full legal name and select a unique username during the registration process. Your username shall not violate any trademark, copyright, or intellectual property rights of any third party.
          </p><br>
          <p class="color-one" style="line-height: 25px;">
              <strong>Users Password:</strong><br>
              You are responsible for creating a strong and secure password for your Zenwealth account. Any unauthorized use of your account due to inadequate password protection will be your complete responsibility.
          </p><br>
          <p class="color-one" style="line-height: 25px;">
              <strong>Earnings and Payouts:</strong><br>
              Earnings from Zenwealth will be subject to the terms and conditions outlined in the affiliate agreement. Payouts will be made according to the designated payout schedule and minimum threshold set by Zenwealth management.
          </p><br>
          <p class="color-one" style="line-height: 25px;">
              <strong>Termination:</strong><br>
              Zenwealth reserves the right to terminate any account for breach of our terms and conditions, violation of policies, or any other reason deemed appropriate. Upon termination, all affiliate earnings will be forfeited.
          </p><br>
          <p class="color-one" style="line-height: 25px;">
              <strong>Modification of Terms:</strong><br>
              Zenwealth may modify these terms and conditions at any time. It is your responsibility to review the terms regularly for any updates.
          </p>
        </div>
      </div>
    </div>
    <br><br><br>
  

    <div class="container- top-green radius-three mtop">
      <%- include('./partials/footer') %>
      <div class="copyright mt-4" style="background-color: #18144d;">
        <p class="fs-5 text-white ms-4">Copyright © 2024 Zenwealth. All Rights Reserved.</p>
      </div>
    </div>

    <a href="#up">
      <div class="bg-three" id="scrollBtn" style="display: none;">
        <i class="fa-solid fa-angle-up text-white"></i>
      </div>
    </a>
  </div>


    <script src="/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>