<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zenwealth - Signup</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/iziToast-master/dist/css/iziToast.min.css">
    <script src="https://kit.fontawesome.com/a207e207d8.js" crossorigin="anonymous"></script>
</head>
<body class="">

    <div class="page-wrapper" style="height: 100vh;">
    <div class="container h-100 d-flex justify-content-center">
      <div class="fixed-width h-100 position-relative">
        <h1 class="color-three mt-5 fw-bold display-5">Sign Up</h1>

            <div class="bg-white radius-three signup-div p-4 text-center">

              <img src="/img/Zenwealth Logo Alone-02.png" class="img-fluid" width="40px"><br><br>
    
                <form action="/register" method="post">
                    <div class="row g-3">
    
                      <div class="input-group flex-nowrap">
                        <span class="input-group-text px-3"><ion-icon name="person"></ion-icon></span>
                        <input type="text" class="form-control py-3" placeholder="First name" name="firstName" required autocomplete="off">
                      </div>

                      <div class="input-group flex-nowrap">
                        <span class="input-group-text px-3"><ion-icon name="person"></ion-icon></span>
                        <input type="text" class="form-control py-3" placeholder="Last name" name="lastName" required autocomplete="off">
                      </div>

                      <div class="input-group flex-nowrap">
                        <span class="input-group-text px-3"><ion-icon name="id-card"></ion-icon></span>
                        <input type="text" class="form-control py-3" placeholder="Username" name="username" required autocomplete="off">
                      </div>

                      <div class="input-group flex-nowrap">
                        <span class="input-group-text px-3"><ion-icon name="mail"></ion-icon></span>
                        <input type="email" class="form-control py-3" placeholder="Email" name="email" required autocomplete="off">
                      </div>

                      <div class="input-group flex-nowrap">
                        <span class="input-group-text px-3"><ion-icon name="call"></ion-icon></span>
                        <input type="tel" class="form-control py-3" placeholder="Phone Number" name="phone"required autocomplete="off">
                      </div>

                      <div class="input-group flex-nowrap">
                        <span class="input-group-text px-3"><ion-icon name="flag"></ion-icon></span>
                        <select class="form-control form-select py-3" name="country" required autocomplete="off">
                          <option value="">Select a country</option>
                          <option value="NGA">Nigeria</option>
                          <option value="CMR">Cameroon</option>
                          <option value="GHA">Ghana</option>
                          <option value="SLE">Sierra Leone</option>
                          <option value="KEN">Kenya</option>
                          <option value="IVY">Ivory Coast</option>
                          <option value="SA">South Africa</option>
                          <option value="TGO">Togo</option>
                          <option value="UGA">Uganda</option>
                        </select>
                      </div>

                      <div class="input-group flex-nowrap">
                        <span class="input-group-text px-3"><ion-icon name="ticket"></ion-icon></span>
                        <input type="text" class="form-control py-3" placeholder="Coupon Code" name="coupon" required autocomplete="off">
                      </div>

                      <div class="input-group flex-nowrap">
                        <span class="input-group-text px-3"><ion-icon name="person"></ion-icon></span>
                        <input type="text" class="form-control py-3" placeholder="Referral code" name="referrer" readonly autocomplete="off">
                      </div>

                      <div class="input-group flex-nowrap">
                        <span class="input-group-text px-3"><ion-icon name="lock-closed"></ion-icon></span>
                        <input type="password" class="form-control py-3" placeholder="Password" name="password" required autocomplete="off">
                      </div>

                      <div class="input-group flex-nowrap">
                        <span class="input-group-text px-3"><ion-icon name="lock-closed"></ion-icon></span>
                        <input type="password" class="form-control py-3" placeholder="Confirm Password" name="passwordConfirmation" required autocomplete="off">
                      </div>

                      <div class="form-check">
                        <div class="ms-2">
                            <input class="form-check-input " id="checkedCheckbox" type="checkbox" required>
                            <label class="form-check-label text-muted fw-normal" for="checkedCheckbox">
                                I agree with the terms &amp; policy.
                            </label>
                        </div>
                      </div>    

                      <div class="col-md-12 mt-4">
                        <button class="btn btn-zen px-4 py-2 w-100 text-white" style="border: none;">Sign Up</button>
                    </div>
                      </div>              
                    </div>
                </form>
            </div>
            <div class="position-absolute w-100 text-center" style="bottom: 10px;">
              <p class="text-white mt-3">Already have an account? <a href="/user/login" class="color-three">Login</a></p>
              <p class="text-white" style="margin-top: -10px;">Dont Have Coupon Code? <a href="/coupon-code/purchase" class="color-three">Buy Coupon</a></p>  
            </div>
      </div>

    </div>
    </div>

    <span class="d-none" id="alertTitle"><%= locals.alertTitle %></span>
    <span class="d-none" id="alertMessage"><%= locals.alertMessage %></span>
    <span class="d-none" id="alertColor"><%= locals.alertColor %></span>


    <script>
      var alertTitle = document.getElementById("alertTitle");
      var alertMessage = document.getElementById("alertMessage");
      var alertColor = document.getElementById("alertColor");

      // Check if there is a response message
      document.addEventListener('DOMContentLoaded', ()=>{
        if (alertTitle.innerHTML || alertMessage.innerHTML || alertColor.innerHTML) {
          // alert('h')
          izitoastAlert(alertTitle.innerHTML, alertMessage.innerHTML, 'light', alertColor.innerHTML);
        } else {
          return;
        }
      })

     </script>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="/iziToast-master/dist/js/iziToast.min.js"></script>
    <script src="/js/alert.js"></script>
</body>
</html>