<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content='width=device-width, initial-scale=1.0'>
    <title>Zenwealth - verify coupon codes</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/a207e207d8.js" crossorigin="anonymous"></script>
</head>
<body>

   <%- include('partials/nav') %>
      <!-- navbar ends -->

    <div class="container-fluid hero-section bg-one" id="up">
      <div class="hero-section-blur pb-5">
        
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-lg-5 mt-5 mb-5">
              <h1 class="fw-bold display-5 color-four mt-3">Not Sure of Your <span class="color-three">Coupon Code?</span></h1><br>
              <p class="fw-semibold fs-5 color-four" style="font-size: 17px;">Verify Zenwealth Coupon Codes Here</p>
              <br>  
            </div>
            <div class="col-lg-5 mt-1">
              <div class="circle bg-four mt-5 d-flex align-items-center justify-content-center overflow-hidden">
                <img src="/img/mockup6.png" alt="" style="transform: scale(0.9); margin-top: 27px;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- hero-section ends -->    

    <div class="container-fluid bg-four pt-5 pb-5">
        <div class="container d-flex align-items-center justify-content-center pb-4">
          <div class="bg-light radius-three p-4" style="width: 500px; border: 1px solid rgba(128, 128, 128, 0.217); margin-top: 80px;">
              <span class="d-flex align-items-center justify-content-center mt-2 mb-3">
                  <h1 class="title fw-bolder color-two">Zen<span>wealth</span></h1>
              </span>
              <h2 class="color-one fw-bold text-center mb-5">Verify Coupon Code</h2>
              <form action="#" method="post">
                  <div class="mb-3">
                      <label for="" class="form-label color-one">Enter Code</label>
                      <input type="text" class="form-control" name="username">
                  </div>
                  <button class="cssbuttons-io-button fw-bold w-100 mt-4 mb-4">
                      verify coupon code
                      <div class="icon">
                        <svg
                          height="24"
                          width="24"
                          viewBox="0 0 24 24"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path d="M0 0h24v24H0z" fill="none"></path>
                          <path
                            d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                            fill="currentColor"
                          ></path>
                        </svg>
                      </div>
                    </button>
                  <!-- <button type="submit" class="btn btn-primary w-100 mb-4">Submit</button> -->
              </form>
          </div>
        </div>
      </div>

   <%- include('partials/footer') %>

    <script src="bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="script.js"></script>
</body>
</html>