<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content='width=device-width, initial-scale=1.0'>
    <title>Zenwealth - top earners</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/a207e207d8.js" crossorigin="anonymous"></script>
</head>
<body>

    <%- include('partials/nav') %>
      <!-- navbar ends -->

    <div class="container-fluid hero-section bg-one" id="up">
      <div class="hero-section-blur pb-5">
        
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-lg-5 mt-5 mb-5">
              <h1 class="fw-bold display-5 color-four mt-3">Zenwealth <span class="color-three">Posts</span></h1><br>
              <p class="fw-semibold fs-5 color-four" style="font-size: 17px;">Share Zenwealth posts to complete daily tasks</p>
              <br>  
            </div>
            <!-- <div class="col-lg-5 mt-1">
              <div class="circle bg-four mt-5 d-flex align-items-center justify-content-center overflow-hidden">
                <img src="img/mockup14.png" alt="" style="transform: scale(0.8); margin-top: 58px;">
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <!-- hero-section ends -->    

    <div class="container-fluid bg-four pt-5 pb-5">
      <div class="container">
        <div class="row g-1 gap-3 align-items-center justify-content-center">
            <div class="card" style="width: 30rem;">
                <img class="card-img-top" src="img/beeda243e8b9990cc1d0956526b56fc8.jpg" alt="zenwealth post">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text color-one">Welcome to Zenwealth! Our platform buzzes with activity as individuals like you engage in quick and fulfilling tasks that lead to tangible earnings.</p>
                </div>
                <div class="card-body">
                  <!-- <a href="#" class="card-link">Card link</a> -->
                  <a href="#" class="card-link text-center">Share</a>
                </div>
            </div>
            <div class="card" style="width: 30rem;">
                <img class="card-img-top" src="img/beeda243e8b9990cc1d0956526b56fc8.jpg" alt="zenwealth post">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text color-one">Welcome to Zenwealth! Our platform buzzes with activity as individuals like you engage in quick and fulfilling tasks that lead to tangible earnings.</p>
                </div>
                <div class="card-body">
                  <!-- <a href="#" class="card-link">Card link</a> -->
                  <a href="#" class="card-link text-center">Share</a>
                </div>
            </div>
            
        </div>
      </div>
    </div>

    <%- include('partials/footer') %>

    <script src="bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>