<a href="#up" style="text-decoration: none;"><div class="up-btn mt-5"><i class="fa-solid fa-angle-up"></i></div></a>

    <div class="container-fluid bg-one">
      <footer class="container-fluid footer">
        <div class="container-fluid" style="margin-top: 80px;">
          <div class="row  gap-5">
            <div class="col-lg-4 mb-5 mt-5 footer-header">
              <a href="/" class="d-block">
                <h1 class="fw-bolder text-white">Zenwealth</h1>
                <p class="color-three footer-motto" style="transform: translateY(-10px);">...the zenith of wealth</p>
              </a>
                <p class="" style="color: #f9ede7; font-size: 17px;">
                your go-to place for affiliate success! Step into a world where every little task means big rewards. Join us at Zenwealth and start earning today!
              </p>
              <div class="footer-socials mt-5">
                <div class="footer-socials-each-div"><i class="fa-brands fa-facebook-f" style="color: #211f4e; font-size: 18px;"></i></div>
                <div class="footer-socials-each-div"><i class="fa-brands fa-twitter" style="color: #211f4e; font-size: 18px;"></i></div>
                <div class="footer-socials-each-div"><i class="fa-brands fa-instagram" style="color: #211f4e; font-size: 18px;"></i></div>
                <div class="footer-socials-each-div"><i class="fa-brands fa-linkedin-in" style="color: #211f4e; font-size: 18px;"></i></div>
              </div>
            </div>
            <div class="d-flex gap-5 col-lg-7 footer-links">
              <div class="col-lg-3 mt-4">
                <a href="/coupon-code/purchase" class="d-flex arrow-link"><p class="arrow">&#8594</p><p>Buy Coupon</p></a>
                <a href="/coupon-code/verify" class="d-flex arrow-link"><p class="arrow">&#8594</p><p>Verify Coupon</p></a>
                <a href="/shop" class="d-flex arrow-link"><p class="arrow">&#8594</p><p>Shop</p></a>
              </div>
              <div class="mt-4">
                <a href="/top-earners" class="d-flex arrow-link"><p class="arrow">&#8594</p><p>Top Earners</p></a>
                <a href="/about" class="d-flex arrow-link"><p class="arrow">&#8594</p><p>About</p></a>
                <a href="/blog" class="d-flex arrow-link"><p class="arrow">&#8594</p><p>Posts</p></a>
                <a href="/policy" class="d-flex arrow-link"><p class="arrow">&#8594</p><p>Policy</p></a>
              </div>
            </div>
            </div>
          </div> 
        </div>
        <a href="#up"><div class="text-md-end" id="up-btn2"><i class="fa-solid fa-arrow-up"></i></div></a>
    </div>
    <div class="copyright" style="background-color: #18144d;">
      <p class="fs-5 text-white ms-4">Copyright © 2024 Zenwealth. All Rights Reserved.</p>
    </div>