<nav class="navbar navbar-expand-lg py-2 sticky-top bg-one" id="mynav">
        
    <div class="container d-flex">
      <a href="/" class="">
        <h3 class="fw-bolder text-white">Zenwealth</h3>
        <p class="color-three motto text-center">...the zenith of wealth</p>
      </a>
      <button class="navbar-toggler" id="meme" onclick="openNav()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <label class="hamburger" id="hamburger">
          <input type="checkbox">
          <svg viewBox="0 0 32 32">
            <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
            <path class="line" d="M7 16 27 16"></path>
          </svg>
        </label>
      </button>

      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link fw-semibold fs-5" href="/coupon-code/purchase">Buy Coupon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-semibold fs-5" href="/coupon-code/verify">Verify Coupon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-semibold fs-5" href="/top-earners">Top Earners</a>
          </li>
          <li class="nav-item nav-post">
            <a class="nav-link fw-semibold fs-5" href="/blog">Posts</a>
          </li>
          <a href="/user/login"><button class="bg-three g-button-mobile text-white fw-bold" type="submit">Login</button></a>
        </ul>
      </div>
      <!-- <button class="dark-light-switcher me-2" id="theme-switch">
        <span class="light-sun"><i class="fa-solid fa-sun text-white"></i></span>
        <span class="dark-moon"><i class="fa-solid fa-moon text-white"></i></span>
      </button> -->
      <a href="/user/login" class="login-link"><button class="bg-three g-button text-white fw-bold" type="submit">Login</button></a>
    </div>
</nav>